<!--
<?php
session_start();
if (isset($_SESSION['network']))
{
    
    //header('location: correo.php');
}
?>
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro the whiskers</title>
</head>

<body>
    <div id="registro">
        <div id="logo">
            <app-logo></app-logo>
        </div>
        <div id="datos">
            <app-datos></app-datos>
        </div>
        <div id="redes">
            <p style="text-align: center;">o Inicia sesion con</p>
            <div id="botones" style="padding-bottom: 5%;">
                <app-redes></app-redes>
            </div>
        </div>
    </div>

<script src="./js/main.js"></script>
<div id="success-form"></div>
</body>

</html>
